<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>블로그 데모</title>
</head>
<body>
<h1>블로그 데모</h1>

<!-- 회원 영역 -->
<h2>회원</h2>
<ol>
    <li><a href="/user/signup">회원가입</a></li>
    <li><a href="/user/update">회원수정</a></li>
    <li><a href="/user/delete">회원탈퇴</a></li>
    <li><a href="/user/login">로그인</a></li>
    <li><a href="/user/find">회원 조회 (단건/전체/username)</a></li>
</ol>
<hr>

<!-- 게시글 영역 -->
<h2>게시글</h2>
<ol>
    <li><a href="/post/create">글쓰기</a></li>
    <li><a href="/post/update">수정하기</a></li>
    <li><a href="/post/delete">삭제하기</a></li>
    <li><a href="/post/find">조회 (단건/전체/쿼리)</a></li>
</ol>
<hr>


</body>
</html>
